---
import Navigation from "../components/Navigation.astro";
import Hamburrguer from "../components/Hamburguer.astro";
---

<header>
    <nav>
        <Hamburrguer />
        <Navigation />
    </nav>
</header>
